* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.ms {
  padding: 5px 0;
  background-color: salmon;
  margin-right: 20px;
}

.ms ul li {
  display: inline-block;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

header h1 {
  float: left;
  color: salmon;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 20px 20px;
  display: inline-block;
}

header ul li a:hover {
  background-color: salmon;
  color: #fff;
}

.active {
  background-color: salmon;
  color: #fff;
}

.banner {
  height: 65vh;
  border: 1px solid salmon;
  background-image: url(ban.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 128, 114, .6);
}

.banner h2 {
  color: #fff;
  z-index: 1;
  padding: 20px 25px;
  border: 3px solid #fff;
}

section {
  padding: 50px 0;
}

.main {
  width: 650px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  text-align: justify;
}


.main h2 {
  font-size: 40px;
  font-weight: bold;
}

.main .penulis {
  font-size: 11px;
  margin-top: -25px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}

.main a {
  color: salmon;
  text-decoration: none;
}

.main a:hover {
  color: skyblue;
  background-color: black;
}

.jd {
  overflow: hidden;
  width: 330px;
  margin: 20px auto;
  border: 5px solid salmon;
  background-color: salmon;
}

.kotak {
  float: left;
  width: 50px;
  height: 60px;
  border-radius: 7px;
  margin: 23px;
  box-shadow: 2px 3px 3px gray;
}

.jd p {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
}

.footer {
  background-color: salmon;
  padding: 10px;
  text-align: center;
}

.sidebar {
  width: 250px;
  float: right;
  padding: 20px;
  text-align: justify;
}

.sidebar h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.sidebar img {
  height: 105px;
  width: 90px;
  object-fit: cover;
  float: left;
  border-radius: 30%;
}

.sidebar p {
  font: 16px arial;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.label {
  background-color: salmon;
  color: #fff;
}

.submit {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 40px;
  padding: 5px;
  width: 100px;
  background-color: salmon;
  color: white;
  overflow: hidden;
  transition: 0.2s;
  outline: none;
}

.bt1 {
  padding-bottom: 30px;
}

.bt {
  display: block;
  border: 2px solid salmon;
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: 100px auto;
  transition: 0.3s;
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

}

td {
  color: salmon;
}

section h3 {
  text-align: center;
  padding: 20px 0;
  color: salmon;
  margin-bottom: 20px;
}

.contact {
  padding-bottom: 100px;
}


.box {
  color: salmon;
}

.box:after {
  content: '';
  display: block;
  clear: both;
}

.box .col-4 {
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}